.quadrados {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    position: relative;

}
.project-galery{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.project-galery p{
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.project-galery p span{
    opacity: 0.6;
}

.quadrados img {
    width: 100%;
    max-width: 450px;
    position: relative;
    border-radius: 10px;
}

.quadrados .case {
    width: 100%;
    max-width: 150px;
    position: absolute;

}

.element {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.2s linear 0.10s;
    /* delay de 0.5s para começar a transição de visibility */
}

.element.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s linear 0.5s;
    /* delay mantido para a visibilidade */
}


/* responsivo */
@media(max-width: 1400px) {}

@media(max-width: 1200px) {}

@media(max-width: 991px) {
    .project-galery{
   display: none;
}
}

@media(max-width: 768px) {}

@media(max-width: 600px) {}

@media(max-width: 480px) {
    .quadrados img {
    height: 14.375rem;
}

}