.home {
   width: 100%;
   height: 100vh;
   background-color: transparent;
}

.home .grid-global {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: end;
}

.container-videos {
   width: 100%;
   height: auto;
   margin-bottom: 1.25rem;
}


.video-player {
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: -1;
}

.video-player video {
   z-index: -1;
   object-fit: cover;
}

.react-player {
   position: absolute;
   top: 0;
   left: 0;
}


.img_films {
   width: 100%;
   display: flex;
   align-items: center;
   text-align: center;
}
.img_films img{
   width: 100vw;
}


.video {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding-top: 30px;
   flex-direction: column;

}
.video h3{
   font-weight: 500;
   font-size: 20px;
}
.video img{
   width: 14px;
}

.video .video_border {
   display: flex;
   width: 100%;
   justify-content: space-between;
   padding-bottom: 10px;
   transition: color 0.5s color ease, 0.5s ease;
   color: #4F4F4F;

}

.video .video_border_white {
   color: white;
   display: flex;
   width: 100%;
   justify-content: space-between;
   padding-bottom: 10px;
}

.video_time {
   width: 1346px;
}





.texto_lorem .container-text {
   display: flex;
   flex-direction: row;
   padding-top: 7.9375rem;
   align-items: center;
   justify-content: space-between;
}

.texto_lorem .container-text .texto_grid {
   color: white;
   max-width: 50.75rem;
   width: 100%;
   line-height: 150%;
   font-size: 2rem;
   letter-spacing: -4%;

}

.texto_lorem .container-text .imagem_grid img {
   width: 100%;
   max-width: 28.25rem;

}



/* responsivo */
@media(max-width: 1400px) {}
@media(max-width: 1370px) {
   .texto_lorem .container-text{
      flex-direction: column;
      gap: 40px;
      align-items: end;
   }
   .texto_lorem .container-text .texto_grid{
      max-width: 100%;
   }
}

@media(max-width: 1200px) {}

@media(max-width: 991px) {
   .container-text .texto_grid p{
      font-size: 26px;
   }
}

@media(max-width: 768px) {}

@media(max-width: 600px) {}

@media(max-width: 480px) {
   .texto_lorem .container-text{
      padding-top: 5rem;
   }
}