.home{
   position: relative;
   width: 100%;
   max-width: 1920px;
   height: 1080px;
}
.imagem_banner{
   width: 100%;
   height: 90%;
   position: absolute;
   background-size: cover;
   z-index: -1;

}

.home .video{
   position: relative;
   display: flex;
   justify-content: center;
   padding-top: 1.875rem;
}
.home .video img{
   position: absolute;
   width: 105rem;

}
.img_films{
   display: flex;
   justify-content: center;
   padding-top: 27rem;
}
.img_films img{
   width: 90.5rem;
   height: 17.3125rem;
  
}

.texto_lorem{
   padding-top: 7.9375rem;
   display: grid;
   grid-gap: 20rem;
   grid-template-columns: 50.75rem 28.25rem;
   height: 30rem;
   width: 70rem;
}
.texto_grid{
   color: #4F4F4F;
   padding-left: 2rem;

}

.texto_grid span{
   color: white;
}
.imagem_grid{
   width: 28.25rem;
   height: 13.9375rem;
   

}
