.image_service {
    overflow: hidden;
}

.image_service img {
    max-width: 100%;
    width: 123.75rem;
    object-position: 50% 0%;
}

.images_services {
    display: flex;
    flex-direction: column;
    padding-top: 3.75rem;
    position: relative;
}

.images_services .lista_images {
    display: flex;
    border-bottom: 1px #333333 solid;
    color: #333333;
    transition: color 0.5s ease, border-bottom 0.5s ease;
    padding-top: 3.125rem;
    justify-content: space-between;
}

.images_services .lista_images img {
    filter: #333333;
}

.images_services .lista_images p {
    padding-bottom: 1.6875rem;
}

.images_services .lista_images:hover {
    color: #E6E6E6;
    border-color: #E6E6E6;
}



.container-services {
    position: relative;
}

.images {
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;

}

.images-container {
    width: 100%;
    max-width: 21.5rem;
    height: 30vw;
    position: absolute;
    top: 0;
    left: 70%;
    /* overflow: hidden;
    visibility: hidden; */
    pointer-events: none;

}

.images-container.on {
    visibility: visible;
}


/* .images img {
    transition: opacity 0.5s ease;  
    opacity: 0;                     
    width: 100%;
    max-width: 21.5rem;
  }
  .images_services:hover .images img {
    opacity: 1; 
  } */



/* responsivo */
@media(max-width: 1400px) {}

@media(max-width: 1200px) {
    .images-container {
        left: 60%;
    }
}

@media(max-width: 991px) {
    .images-container {
        width: 30vw;
        left: 62%;
    }
}

@media(max-width: 768px) {
     .images-container {
        width: 25vw;
        left: 67%;
        top: 10%;
    }
}

@media(max-width: 600px) {}

@media(max-width: 480px) {
     .images-container {
        width: 23vw;
        left: 63%;
        top: 10%;
    }
    .images_services .lista_images p{
        width: 300px;
    }
    .image_service img{
        height: 20vh;
    }
}