.sec-galeria{
    padding-top: 6.25rem;
    padding-bottom: 8.125rem;
}
.sec-galeria .container .logo_galeria{
    display: flex;
    align-items: start;
}
.sec-galeria .container .galeria{
    padding-top: 5.3125rem;
}
.galeria .image .quadrados{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.galeria .image .quadrados img{
    width: 100%;
    max-width: 28.125rem;
    position: relative; 
}

.galeria .image .quadrados .case{
    width: 100%;
    max-width: 150px;
    position: absolute;
    
}

.element {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.2s linear 0.10s; /* delay de 0.5s para começar a transição de visibility */
  }
  
  .element.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s linear 0.5s; /* delay mantido para a visibilidade */
  }
  







/* .galeria{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    

}
.image{
    width: 90%;
    height: 558px;
    position: absolute;


}
.quadrados{
    width: 451px;
    height: 558px;
}


.logo_galeria{
    padding-top: 7rem;
    padding-bottom: 85px;
    padding-left: 2rem;
    width: 100%;
    
}
.logo_galeria img{
    width: 31.25rem;
    height: 7.25rem;
    
} */


/* responsivo */
@media(max-width: 1400px){
  
}
@media(max-width: 1200px){
    .galeria .image .quadrados img{
        width: 100%;
        max-width: 400px;
    }
}
@media(max-width: 991px){
    .galeria .image .quadrados img{
        max-width: 320px;
    }
}
@media(max-width: 768px){
    .sec-galeria .container .logo_galeria img{
       width: 100%;
       max-width: 28.125rem;
    }
    .galeria .image .quadrados img{
        max-width: 250px;
    }
    .sec-galeria .container .galeria{
        padding-top: 3.3125rem;
    }
    .sec-galeria{
        padding-top: 4.25rem;
    }
}
@media(max-width: 600px){
    .sec-galeria .container .logo_galeria img{
        width: 100%;
        max-width: 25.125rem;
     }
     .galeria .image .quadrados img{
        max-width: 12.5rem;
     }
     .sec-galeria .container .galeria{
         padding-top: 3.3125rem;
     }
     .sec-galeria{
         padding-top: 4.25rem;
     }
}
@media(max-width: 480px){
    .sec-galeria .container .logo_galeria img{
        width: 100%;
        max-width: 15rem;
     }
     .galeria .image .quadrados img{
        max-width: 150px;
     }
     .sec-galeria .container .galeria{
         padding-top: 3.3125rem;
     }
     .sec-galeria{
         padding-top: 4.25rem;
         padding-bottom: 3.25rem;
     }
}