.sec-galeria {
    padding-top: 6.25rem;
    padding-bottom: 8.125rem;
}

.sec-galeria .container-galeria .logo_galeria {
    display: flex;
    align-items: start;
}

.sec-galeria .container-galeria .galeria {
    margin-top: 5.3125rem;
}



/* responsivo */
@media(max-width: 1400px) {}

@media(max-width: 1200px) {}

@media(max-width: 991px) {}

@media(max-width: 768px) {}

@media(max-width: 600px) {}

@media(max-width: 480px) {
    .container-galeria .logo_galeria{
        width: 20rem;
    }
    .sec-galeria .container-galeria .galeria {
    margin-top: 2.8125rem;
}
}