.cads_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.ourtime {
    display: flex;
    padding-top: 9.4375rem;
    padding-bottom: 113px;
}


/* responsivo */
@media(max-width: 1400px) {}

@media(max-width: 1200px) {}

@media(max-width: 991px) {}

@media(max-width: 768px) {}

@media(max-width: 600px) {}

@media(max-width: 480px) {}