.container-times {
    margin-top: 9.375rem;
}

.cads_flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}



.ourtime {
    display: flex;
    padding-top: 9.4375rem;
    padding-bottom: 113px;
}


/* responsivo */
@media(max-width: 1400px) {}

@media(max-width: 1200px) {}

@media(max-width: 991px) {}

@media(max-width: 768px) {}

@media(max-width: 600px) {

    .card_bottom .direct p,
    .card_bottom .projeto_nome p {
        font-size: 8px;
    }
    .ourtime{
        width: 100%;
        max-width: 40vw;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media(max-width: 480px) {
    .cads_flex {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 20px;

    }
    .card .card_bottom{
        gap: 10px;
    }
    .direct{
        display: flex;
        justify-content: end;
        align-items: end;
        text-align: end;
    }

}