.container{
    padding-top: 7rem;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.cards .card{
    width: 100%;
    max-width: 17rem;
    height: 23rem;
    position: relative;
    border: 2px #333333 solid;
    border-bottom: none;
    border-image: linear-gradient(#333333, rgba(0, 0, 0, 0)) 27;
    /* border-image: 
    linear-gradient(
      to bottom, 
      #333333, 
      rgba(0, 0, 0, 0)
    ) 1 100%; */
    
    
}

.card .card_top{
    display: flex;
    justify-content: space-between;
    padding: 0.625rem;
}
.card h1{
    position: absolute;
    bottom: 0.625rem;
    padding-left: 0.625rem;
    font-size: 3.75rem;
}
.card p{
    color: #B2B2B2;
    font-size: 1.25rem;
}

.texto_info{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 7.75rem;
}

.text{
    text-indent:4rem
}



/* responsivo */
@media(max-width: 1400px) {}

@media(max-width: 1200px) {}

@media(max-width: 991px) {}

@media(max-width: 768px) {}

@media(max-width: 600px) {}

@media(max-width: 480px) {}

